/* variables */

$tan: #FEFFED;
$darkblue: #444261;
$blue: #756E95;
$gray: #999999;

/* ~~~ friplicious style ~~~ */

.fp-slidesContainer {
    width: 100% !important;
    @media screen and (max-width: 767px) {
        width: 200% !important;
    }
}

.wrap {
    padding: 30px;
}

.left-slide {
    text-align: center;
}

.right-slide {
    background-color: antiquewhite;
}

#fp-nav {}

#fp-nav.right {
    right: 50%;
    margin-right: -14px;
    @media screen and (max-width: 767px) {
        right: 17px;
    }
}

#footer {
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    ul {
        li {
            display: inline;
        }
    }
}