/* setup */
@font-face {
  font-family: 'Neo Sans Std';
  src: url('fonts/NeoSansStd-Regular.otf'); }

@font-face {
  font-family: 'Neo Sans Pro Light';
  src: url('fonts/Neo Sans Pro Light.ttf'); }

/* ~~~ friplicious style ~~~ */
/* line 28, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
body {
  color: #444261;
  font-family: 'Neo Sans Pro Light', 'Helvetica', sans-serif;
  letter-spacing: 0.05em;
  font-size: 18px; }

/* line 40, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Neo Sans Std', 'Helvetica', sans-serif; }

/* line 44, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
h2 {
  font-size: 36px;
  letter-spacing: 0.05em; }

/* line 49, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
p {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.02em; }

/* line 55, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 60, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
.fp-slidesContainer {
  width: 100% !important; }
  @media screen and (max-width: 767px) {
    .fp-slidesContainer {
      width: 200% !important; } }

/* line 67, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
.wrap {
  padding: 30px; }

/* line 71, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
.left-slide {
  text-align: center; }
  /* line 73, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  .left-slide .wrap {
    padding-top: 0;
    height: 85%; }
    /* line 76, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
    .left-slide .wrap img {
      max-height: 100%;
      max-width: 100%; }

/* line 86, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
.right-slide {
  background-color: #FEFFED; }
  /* line 88, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  .right-slide .wrap {
    padding: 10% 12% 10% 10%; }

@media screen and (max-width: 767px) {
  #fp-nav {
    display: none; } }

/* line 99, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#fp-nav.right {
  right: 50%;
  margin-right: -15px; }

/* line 104, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#line {
  position: fixed;
  height: 100%;
  width: 1px;
  margin-right: -1px;
  bottom: 0;
  right: 50%;
  border-left: 1px solid #999999; }
  @media screen and (max-width: 767px) {
    #line {
      display: none; } }

/* line 117, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#footer {
  position: fixed;
  z-index: 70;
  bottom: 0;
  right: 0;
  margin-right: 15px; }
  @media screen and (max-width: 767px) {
    #footer {
      text-align: center; } }
  /* line 127, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  #footer ul li {
    display: inline;
    padding: 10px; }
    /* line 130, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
    #footer ul li a {
      color: #8F8FAA;
      text-decoration: none; }
      /* line 134, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
      #footer ul li a:hover {
        color: #444261; }

/* line 143, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#home .left-slide {
  background: url('../img/city-darker.jpg') no-repeat center center;
  background-size: cover; }
/* line 147, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#home h1 {
  font-size: 60px;
  letter-spacing: 0.09em;
  margin: 0px 0 30px 0; }
/* line 152, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#home h4 {
  font-size: 32px;
  letter-spacing: 0.05em;
  line-height: 47px;
  margin: 20px 0 60px 0; }
/* line 158, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#home .btn {
  padding: 15px 30px;
  background-color: #8F8FAA;
  color: white;
  border: 1px solid #8F8FAA;
  font-family: 'Neo Sans Pro Light', 'Helvetica', sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  margin-right: 10px;
  text-decoration: none; }
  /* line 168, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  #home .btn:hover {
    background-color: #787898;
    border: 1px solid #787898; }
/* line 173, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#home #demo {
  background-color: white;
  color: #8F8FAA;
  border: 1px solid #8F8FAA; }
  /* line 177, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  #home #demo:hover {
    background-color: #f8f8f8; }

/* line 183, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
#about-page {
  background-color: #FEFFED; }
  /* line 185, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  #about-page .banner {
    background: url(../img/about.jpeg) no-repeat center center;
    background-size: cover;
    height: 200px;
    background-color: #8F8FAA;
    margin-bottom: 30px; }
    /* line 191, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
    #about-page .banner h1 {
      font-size: 40px;
      color: white;
      margin-top: 70px; }
  /* line 197, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  #about-page .row {
    margin-bottom: 30px; }
  /* line 200, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  #about-page .block {
    background-color: #E0E0F6;
    border: 2px solid #E0E0F6;
    padding: 15px;
    margin-bottom: 30px; }
    /* line 205, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
    #about-page .block p {
      font-size: 16px; }
  /* line 209, /Users/elisefung/Box Sync/Work/Capstone/frip/css/style.scss */
  #about-page .faculty {
    background-color: white;
    border: 2px solid #8F8FAA; }

/*# sourceMappingURL=style.css.map */