/* setup */

@font-face {
    font-family: 'Neo Sans Std';
    src: url('fonts/NeoSansStd-Regular.otf');
}

@font-face {
    font-family: 'Neo Sans Pro Light';
    src: url('fonts/Neo Sans Pro Light.ttf');
}

$header-font: 'Neo Sans Std',
'Helvetica',
sans-serif;
$body-font: 'Neo Sans Pro Light',
'Helvetica',
sans-serif;
$tan: #FEFFED;
$darkblue: #444261;
$blue: #756E95;
$gray: #999999;
/* ~~~ friplicious style ~~~ */

body {
    color: $darkblue;
    font-family: $body-font;
    letter-spacing: 0.05em;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
}

h2 {
    font-size: 36px;
    letter-spacing: 0.05em;
}

p {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

img {
    max-width: 100%;
    height: auto;
}

.fp-slidesContainer {
    width: 100% !important;
    @media screen and (max-width: 767px) {
        width: 200% !important;
    }
}

.wrap {
    padding: 30px;
}

.left-slide {
    text-align: center;
    .wrap {
        padding-top: 0;
        height: 85%;
        img {
            max-height: 100%;
            max-width: 100%;
            @media screen and (max-width: 767px) {
                //                max-height: 40%;
            }
        }
    }
}

.right-slide {
    background-color: $tan;
    .wrap {
        padding: 10%;
    }
}

#fp-nav {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

#fp-nav.right {
    right: 50%;
    margin-right: -15px;
}

#line {
    position: fixed;
    height: 100%;
    width: 1px;
    margin-right: -1px;
    bottom: 0;
    right: 50%;
    border-left: 1px solid $gray;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

#footer {
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 47%;
    text-align: center;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
    ul {
        li {
            display: inline;
            padding: 10px;
            a {
                color: white;
                text-decoration: none;
                text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

#home {
    .left-slide {
        background: url('../img/city.jpg') no-repeat center center;
        background-size: cover;
    }
    h1 {
        font-size: 88px;
        letter-spacing: 0.09em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h4 {
        font-size: 32px;
        letter-spacing: 0.05em;
        line-height: 47px;
        margin-top: 20px;
    }
    button {
        padding: 15px 20px;
        background-color: white;
        border-radius: 6px;
        border: 2px solid $darkblue;
        margin-top: 30px;
        width: auto;
        font-family: $body-font;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: $darkblue;
    }
}